*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  height: 100%;
}

body {
  font: 1em 'Roboto', sans-serif;
  color: #555;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  padding: 30px 0;
  font: 1.5em 'Open Sans', sans-serif;
  text-align: center;
}

nav {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
}

ul a {
  display: block;
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: #aaa;
  text-decoration: none;
}

ul a:hover {
  background: #eee;
}

nav li {
  float: left;
  width: 20%;
  border-right: 1px solid #ddd;
}

nav li:last-child {
  border-right: none;
}


/*---------------------------------------------------------
  Zmniejszanie
----------------------------------------------------------- */

@media only screen and (max-width: 480px) {

  .hamburger {
    cursor: pointer;
    padding: 15px;
    display: block;
  }

  .line {
    border-bottom: 4px solid #bbb;
    width: 35px;
    margin-bottom: 6px;
  }

  .line:last-child {
    margin-bottom: 0;
  }

  nav li {
    width: 100%;
  }

  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
  }

  .open {
    height: 295px;
  }

}
